<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='forms.css') }}">
    <title>{% block page_title %}Default Title{% endblock %}</title>

</head>

<body>
    <nav id="navbar">
        <ul id="navbar-ul-left">
            <li>My Project</li>
            <li><a href="{{url_for('core.index')}}">Home</a></li>
        </ul>

        <ul id="navbar-ul-right">
            <li><a href="{{ url_for('core.login') }}">Login</a></li>
            <li><a href="{{ url_for('core.signup') }}">Create Account</a></li>
        </ul>
    </nav>

    <!-- Flash messages block -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="flashes">
        {% for category, message in messages %}
        <div class="flash {{ category }}">{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    <section id="main-container">
        Main Container Test
    </section>


    <footer>
        <div>Copyright Resered</div>
    </footer>
</body>

</html>