<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/forms.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/dashboard.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/features.css') }}">
    <title>{% block page_title %}My Project{% endblock %}</title>

</head>

<body>
    <nav id="navbar">
        <ul id="navbar-ul-left">
            <li>My Project</li>
            <li><a href="{{url_for('core.index')}}">Home</a></li>
        </ul>
        {%block account_links%}
        <ul id="navbar-ul-right">
            <li><a href="{{ url_for('core.login') }}">Login</a></li>
            <li><a href="{{ url_for('core.signup') }}">Create Account</a></li>
        </ul>
        {%endblock%}
    </nav>

    <!-- Flash messages block -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="flashes">
        {% for category, message in messages %}
        <div class="flash {{ category }}">{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    <section id="main-container">

        {% block header_container %}
        Header Container Test
        {% endblock %}

        {% block main_container %}
        Main Container Test
        {% endblock %}

        {% block extra_container %}
        Extra Container Test
        {% endblock %}
    </section>


    <footer>
        <div>Copyright Resered</div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='javascript/index.js') }}"></script>
</body>

</html>