{% extends 'base.html'%}

{% block page_title %} Dashboard {% endblock %}

<!-- ====================Nav Bar Links ================-->
{% block account_links %}
<ul>
    <li id="user_image_icon-li">
        <img id="user_image_icon" src="{{ url_for('static', filename='assets/images/default_user_profile_img.jpg') }}"
            alt="User Image">
    </li>
    <li><a href="{{ url_for('core.logout') }}">Logout</a></li>
</ul>
{% endblock %}



<!-- ==================== Main Container ================-->
{% block main_container %}
<section class="main-container dashboard-container">

    <section class="dashboard-user-section">
        <div class="user-image-box">
            <img src="{{ url_for('static', filename='assets/images/default_user_profile_img.jpg') }}" alt="User Image">
        </div>

        <div class="user-info-container">
            <div class="user-info-header-box">
                <h1>Welcome, {{ current_user.first_name }}</h1>
                <p>Last login info</p>
            </div>

            <div class="info-box-content-box">
                <div class="profile-details-container">
                    <div class="profile-detail">First Name: {{ current_user.first_name }}</div>
                    <div class="profile-detail">Last Name: {{ current_user.last_name }}</div>
                    <div class="profile-detail">Email: {{ current_user.email }}</div>
                    <div class="profile-detail">Phone: {{ current_user.phone }}</div>
                </div>

                <div class="profile-details-buttons-box">
                    <button class="form-button edit-profile-button profile-buttons">Edit Profile</button>
                    <button class="form-button change-password-button profile-buttons">Change Password</button>
                    <button class="form-button delete-account-button profile-buttons">Delete Account</button>
                </div>
            </div>


        </div>

    </section>










    <section class="all-tools-section">
        <div class="dashboard-tools">
            <div class="dashboard-tool">
                <h2>Tool 1</h2>
                <p>Description of tool 1.</p>
            </div>
            <div class="dashboard-tool">
                <h2>Tool 2</h2>
                <p>Description of tool 2.</p>
            </div>
            <div class="dashboard-tool">
                <h2>Tool 3</h2>
                <p>Description of tool 3.</p>
            </div>
        </div>


    </section>
</section>

{%endblock%}