{% extends 'base.html'%}

{% block page_title %} Dashboard {% endblock %}

<!-- ====================Nav Bar Links ================-->
{% block account_links %}
<ul>
    <li id="user_image_icon-li">
        <img id="user_image_icon" src="{{ url_for('static', filename='assets/images/default_user_profile_img.jpg') }}"
            alt="User Image">
    </li>
    <li><a href="{{ url_for('core.logout') }}">Logout</a></li>
</ul>
{% endblock %}



<!-- ==================== Main Container ================-->
{% block header_container %}
<section class="main-container dashboard-container">

    <section class="dashboard-user-section">
        <div class="user-image-box">
            <img src="{{ url_for('static', filename='assets/images/default_user_profile_img.jpg') }}" alt="User Image">
        </div>

        <div class="user-info-container">
            <div class="user-info-header-box">
                <h1>Welcome, {{ current_user.first_name }}</h1>
                <p>Last login info</p>
            </div>
            <hr class="dashboard-header-hr">

            <div class="info-box-content-box">
                <div class="profile-details-container">
                    <div class="profile-detail">First Name: {{ current_user.first_name }}</div>
                    <div class="profile-detail">Last Name: {{ current_user.last_name }}</div>
                    <div class="profile-detail">Email: {{ current_user.email }}</div>
                    <div class="profile-detail">Phone: 123456789</div>
                </div>

                <div class="profile-details-buttons-box">
                    <button class="form-button edit-profile-button profile-buttons" onclick="window.location.href='{{ url_for('core.update_profile') }}'">Edit Profile</button>
                    <button class="form-button change-password-button profile-buttons" onclick="window.location.href='{{ url_for('core.update_password') }}'">Change Password</button>
                    <button class="form-button delete-account-button profile-buttons">Delete Account</button>
                </div>
            </div>


        </div>

    </section>
</section>

{%endblock%}

{% block main_container %}
<section class="dashboard-container">

    <section class="main-container features-section">

        <!-- FEATURE 1 - BUSINESS -->
        <div class="features-container">

            <div class="feature-header">
                <!-- flex row -->
                <h2>Business</h2>
                <p>Tools to manage your business</p>
            </div>
            <hr class="dashboard-header-hr">

            <div class="feature-body">
                <!-- inline block or flex row -->

                <button class="feature-body-content">
                    <!-- flex row -->
                    <img style="border-radius: 5px;" src="{{url_for('static', filename='assets/icons/vat-calculater-icon.png')}}">
                    <p>Calculate your VAT</p>
                </button>
                <button class="feature-body-content">
                    <!-- flex row -->
                    <img style="border-radius: 5px;" src="{{url_for('static', filename='assets/icons/invoice-issue-icon.png')}}">
                    <p>Issue Invoice</p>
                </button>
                <button class="feature-body-content">
                    <!-- flex row -->
                    <img style="border-radius: 5px;" src="{{url_for('static', filename='assets/icons/self-assessment-icon.png')}}">
                    <p>Self Assessment History</p>
                </button>
                <button class="feature-body-content">
                    <!-- flex row -->
                    <img style="border-radius: 5px;" src="{{url_for('static', filename='assets/icons/checklist-icon.png')}}">
                    <p>Your Scheduel</p>
                </button>
                <button class="feature-body-content">
                    <!-- flex row -->
                    <img style="border-radius: 5px;" src="{{url_for('static', filename='assets/icons/payslip-icon.jpg')}}">
                    <p>Your Payslips</p>
                </button>
            </div>
        </div>

        <!-- FEATURE 2 - EXTRA -->
        <div class="features-container">

            <div class="feature-header">
                <!-- flex row -->
                <h2>ُOther tools</h2>
                <p>Need a handy tool? you can find it hear.</p>
            </div>
            <hr class="dashboard-header-hr">

            <div class="feature-body">
                <!-- inline block or flex row -->
                <button class="feature-body-content">
                    <!-- flex row -->
                    <img src="{{url_for('static', filename='assets/icons/gpticon.png')}}">
                    <p>AI Agent</p>
                </button>
                <button class="feature-body-content">
                    <!-- flex row -->
                    <img style="border-radius: 5px;" src="{{url_for('static', filename='assets/icons/unit-converter-icon.jpeg')}}">
                    <p>Unit Converter</p>
                </button>
                <button class="feature-body-content">
                    <!-- flex row -->
                    <img style="border-radius: 50%;" src="{{url_for('static', filename='assets/icons/currency-converter-icon.jpeg')}}">
                    <p>Currency Converter</p>
                </button>
                <button class="feature-body-content">
                    <!-- flex row -->
                    <img style="border-radius: 5px;" src="{{url_for('static', filename='assets/icons/stock-icon.png')}}">
                    <p>Stock Price Tracking</p>
                </button>

            </div>
        </div>

        <!-- FEATURE 3 - INFORMATION -->
        <div class="features-container">

            <div class="feature-header">
                <!-- flex row -->
                <h2>Information</h2>
                <p>Here you can find information about HMRC, UTR, VAT Calculation and etc.</p>
            </div>
            <hr class="dashboard-header-hr">

            <div class="feature-body">
                <!-- inline block or flex row -->

                <button class="feature-body-content">
                    <!-- flex row -->
                    <img style="border-radius: 5px;" src="{{url_for('static', filename='assets/icons/uc-icon.jpg')}}">
                    <p>Universal Credit</p>
                </button>
                <button class="feature-body-content">
                    <!-- flex row -->
                    <img style="border-radius: 5px;" src="{{url_for('static', filename='assets/icons/hmrc-icon.png')}}">
                    <p>HMRC</p>
                </button>
                <button class="feature-body-content">
                    <!-- flex row -->
                    <img style="border-radius: 5px;" src="{{url_for('static', filename='assets/icons/dvla-icon.png')}}">
                    <p>Driving Licence </p>
                </button>
                <button class="feature-body-content">
                    <!-- flex row -->
                    <img style="border-radius: 5px;" src="{{url_for('static', filename='assets/icons/selfemployement-icon.png')}}">
                    <p>Self Employment</p>
                </button>
                <button class="feature-body-content">
                    <!-- flex row -->
                    <img style="border-radius: 5px;" src="{{url_for('static', filename='assets/icons/self-assessment-icon2.png')}}">
                    <p>Self Assessment</p>
                </button>

            </div>
        </div>
    </section>
</section>
{% endblock %}